@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Nút chuyển tới Index của NguoiDungs -->
    <a class="btn btn-primary" href="@Url.Action("Index", "NguoiDungs")">Danh sách người dùng</a>
    <p></p>
    <!-- Nút chuyển tới Index của NguoiNuoiCa -->
    <a class="btn btn-primary" href="@Url.Action("Index", "NguoiNuoiCa")">Danh sách người nuôi cá</a>
    <p></p>
    <!-- Nút chuyển tới Index của BaiDang -->
    <a class="btn btn-primary" href="@Url.Action("Index", "BaiDang")">Danh sách bài đăng</a>
    <p></p>
    <!-- Nút chuyển tới Index của DanCa -->
    <a class="btn btn-primary" href="@Url.Action("Index", "DanCa")">Danh sách đàn cá</a>
    <p></p>
    <!-- Nút chuyển tới Index của TrieuChungBenhCa -->
    <a class="btn btn-primary" href="@Url.Action("Index", "TrieuChungBenhCa")">Danh sách triệu chứng</a>
    <p></p>
    <!-- Nút chuyển tới Index của BenhCa -->
    <a class="btn btn-primary" href="@Url.Action("Index", "BenhCa")">Danh sách bệnh cá</a>
    <p></p>
    <!-- Nút chuyển tới Index của BienPhapPhongNgua -->
    <a class="btn btn-primary" href="@Url.Action("Index", "BienPhapPhongNgua")">Danh sách biện pháp phòng ngừa</a>
    <p></p>
    <!-- Nút chuyển tới Index của TinTucDichBenh -->
    <a class="btn btn-primary" href="@Url.Action("Index", "TinTucDichBenh")">Danh sách tin tức dịch bệnh</a>
    <p></p>
    <!-- Nút chuyển tới Index của PhuongPhapDieuTri -->
    <a class="btn btn-primary" href="@Url.Action("Index", "PhuongPhapDieuTri")">Danh sách phương pháp điều trị</a>
    <p></p>

    <!-- Nút Đăng nhập -->
    <a class="btn btn-success" href="@Url.Action("Login", "Account")">Đăng nhập</a>
    <p></p>
    <!-- Nút Đăng ký -->
    <a class="btn btn-success" href="@Url.Action("Register", "Account")">Đăng ký</a>
</div>
